.header {
    display: flex;
    justify-content: space-between;   
    align-items: center;             
    border: 1px solid rgb(124, 123, 123);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(202, 30, 30);
    padding: 0 20px;                  
}

.logo {
    width: 90px;
    padding: 0px 20px;                
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 0px;                     
    margin: 0;
}

.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.body {
    padding-top: 50px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    align-items: center;
}

.res-card {
    padding: 10px;
    margin-top: 15px;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    background: lightgrey;
}

.res-card:hover {
    box-shadow: 0px 2px 15px rgb(202, 30, 30);
    border: 1px solid rgb(202, 30, 30);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.res-card > img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
